@model ASME_CBI

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">

            <img src="https://www.pvi.com/dfsmedia/0533dbba17714b1ab581ab07a4cbb521/55972-50065/pvi-logo" alt="PVI Logo" style="display: block; margin-left: auto; margin-right: auto; width: 400px; height: 100px;">
            <h5 class="text-primary text-center">ASME SECTION IV - HLW</h5>
            <h5 class="text-primary text-center">CONQUEST / BRIGAGDE HX FABRICATION / INSPECTION REPORT</h5>
            <hr />
        </div>

        <!-- checkbox Button -->
        <script>
            function toggleRow(checkbox) {
                var row = checkbox.parentNode.parentNode; // Get the parent row of the checkbox

                if (checkbox.checked) {
                    row.style.backgroundColor = ""; // Reset the background color to default
                } else {
                    row.style.backgroundColor = "#e5e5e5"; // Change the background color to grey
                }

                var inputs = row.getElementsByTagName("input"); // Get all the input elements in the row

                for (var i = 0; i < inputs.length; i++) {
                    // Iterate over all input elements
                    if (inputs[i].type === "checkbox") {
                        inputs[i].checked = checkbox.checked; // Check/uncheck the checkbox
                    } else {
                        inputs[i].disabled = !checkbox.checked; // Enable/disable input elements based on checkbox state
                    }
                }
            }
        </script>

        <script>
            // JavaScript
            document.addEventListener("keyup", function (event) {
                if (event.target.classList.contains("uppercase-input")) {
                    event.target.value = event.target.value.toUpperCase();
                }
            });
        </script>

        <script>
            function restrictInputLength(element, maxLength) {
                if (element.textContent.length > maxLength) {
                    element.textContent = element.textContent.slice(0, maxLength);
                }
            }
        </script>

        <style>
            .center-align {
                text-align: center;
            }

            .narrow-input {
                width: 270px;
            }
        </style>

        <div class="mb-4 p-1">
            <!-- JOB -->
            <label class="p-0">JOB</label>
            <input type="number" class="narrow-input" />
            <!-- HX SN -->
            <label class="p-0">HX SN</label>
            <input type="text" class="uppercase-input narrow-input" />
            <!-- PART -->
            <label class="p-0">PART</label>
            <input type="text" class="uppercase-input narrow-input" />
        </div>

        <div class="mb-4 p-1">
            <!-- DESCRIPTION: -->
            <label class="p-0">DESCRIPTION:</label>
            <input type="text" class="uppercase-input narrow-input" />
            <!-- DWG# -->
            <label class="p-0">DWG#</label>
            <input type="text" class="uppercase-input narrow-input" />
            <!-- MVP# -->
            <label class="p-0">MVP#</label>
            <input type="text" class="uppercase-input narrow-input" />
        </div>

        <!-- Table Form -->
        <style>
            table {
                border-collapse: collapse;
            }

            th, td {
                border: 1px solid black;
                padding: 8px;
            }

            .number-input {
                width: 50px; /* Adjust the width as desired */
                height: 30px; /* Adjust the height as desired */
            }
        </style>

        <!-- Actual Table -->
        <div class="center-align">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>INCLUDE</th>
                        <th>PROCEDURE</th>
                        <th>FITUP/EMP#</th>
                        <th>WELD ID</th>
                        <th>PVI LOT Number</th>
                        <th>MFG</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Row 1 -->
                    <tr>
                        <td>
                            <input type="checkbox" onclick="toggleRow(this)" checked />
                        </td>
                        <td style=" font-size: 12px;">CHAMBER HEAD</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                        <td>&#x2718;</td>
                        <td class="text-uppercase" contenteditable="true"></td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>                        
                    </tr>

                    <!-- Row 2 -->
                    <tr>
                        <td>
                            <input type="checkbox" onclick="toggleRow(this)" checked />
                        </td>
                        <td style=" font-size: 12px;">BOTTOM HEAT</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                        <td>&#x2718;</td>
                        <td class="text-uppercase" contenteditable="true"></td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                    </tr>

                    <!-- Row 3 -->
                    <tr>
                        <td>
                            <input type="checkbox" onclick="toggleRow(this)" checked />
                        </td>
                        <td style=" font-size: 12px;">TUBE INSTALL</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                        <td>&#x2718;</td>
                        <td class="text-uppercase" style=" font-size: 12px;">NONE REQUIRED</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                    </tr>

                    <!-- Row 4 -->
                    <tr>
                        <td>
                            <input type="checkbox" onclick="toggleRow(this)" checked />
                        </td>
                        <td style=" font-size: 12px;">TUBE VERIFICATION</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                        <td>&#x2718;</td>
                        <td class="text-uppercase" style=" font-size: 12px;">NONE REQUIRED</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                    </tr>

                    <!-- Row 5 -->
                    <tr>
                        <td>
                            <input type="checkbox" onclick="toggleRow(this)" checked />
                        </td>
                        <td style=" font-size: 12px;">TUBE TACK WEILD</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                        <td>&#x2718;</td>
                        <td class="text-uppercase" style=" font-size: 12px;">NONE REQUIRED</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                    </tr>

                    <!-- Row 6 -->
                    <tr>
                        <td>
                            <input type="checkbox" onclick="toggleRow(this)" checked />
                        </td>
                        <td style=" font-size: 12px;">TUBE ROLL</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                        <td>&#x2718;</td>
                        <td class="text-uppercase" style=" font-size: 12px;">NONE REQUIRED</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                    </tr>

                    <!-- Row 7 -->
                    <tr>
                        <td>
                            <input type="checkbox" onclick="toggleRow(this)" checked />
                        </td>
                        <td style=" font-size: 12px;">TUBE VERIFICATION</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                        <td>&#x2718;</td>
                        <td class="text-uppercase" style=" font-size: 12px;">NONE REQUIRED</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                    </tr>

                    <!-- Row 8 -->
                    <tr>
                        <td>
                            <input type="checkbox" onclick="toggleRow(this)" checked />
                        </td>
                        <td style=" font-size: 12px;">ROBOT TUBE WEILD</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                        <td class="text-uppercase" style=" font-size: 12px;">NONE REQUIRED</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                    </tr>

                    <!-- Row 9 -->
                    <tr>
                        <td>
                            <input type="checkbox" onclick="toggleRow(this)" checked />
                        </td>
                        <td style=" font-size: 12px;">CHAMBER SHELL</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                        <td class="text-uppercase" contenteditable="true"></td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                    </tr>

                    <!-- Row 10 -->
                    <tr>
                        <td>
                            <input type="checkbox" onclick="toggleRow(this)" checked />
                        </td>
                        <td style=" font-size: 12px;">QA FINAL INSP</td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                        <td style="position: relative;">
                            <span style="position: absolute; top: 0; left: 0; font-size: 12px;">DATE:</span>
                            <input type="date" id="datepicker" />
                        </td>
                        <td class="text-uppercase" contenteditable="true"></td>
                        <td>
                            <input type="number" oninput="this.value = this.value.slice(0, 2)" class="number-input" />
                        </td>
                    </tr>

                    <!-- Row 11 -->
                    <tr>
                        <td colspan="6" class="text-uppercase" contenteditable="true"></td>
                    </tr>

                    <!-- Row 12 -->
                    <tr>
                        <td colspan="6" class="text-uppercase" contenteditable="true"></td>
                    </tr>

                    <!-- Row 13 -->
                    <tr>
                        <td colspan="6" class="text-uppercase" contenteditable="true"></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div>
            <label>PVI Industries</label> <i class="bi bi-caret-right-fill"></i>
            <label>Conquest/Brigade HX Fab/Insp Report</label> <i class="bi bi-caret-right-fill"></i>
            <lable>Version: March 2023</lable>
        </div>

        <div class="row mt-3">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">SAVE</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="ASME" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back to List
                </a>
            </div>
        </div>

    </div>
</form>