@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome ASME Forms</h1>
    <h2>Following is the list of ASME Forms</h2>
</div>

<div class="col-6 text-end">
    <a asp-controller="ASME" asp-action="Create_CBI_Tank" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> CREATE CBI TANK
    </a>
</div>
<div class="col-6 text-end">
    <a asp-controller="ASME" asp-action="Create_CBI_HX" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> CREATE CBI HX
    </a>
</div>
